body {
    background-image: url('../img/background2.jpg');
    background-attachment: fixed;
    background-position: center;
}

.label {
  background: #E3E0DA;
}
.canvas {
  background: #A2988F;
}
.uk-accordion {
  margin-top: 20px;
}

.uk-accordion li {
  padding: 20px;
  border-top: 4px solid #6C6054;
}

.uk-accordion li:first-child {
  border-top: 0px;
}

.uk-accordion li a, .uk-accordion li a:hover, .uk-accordion li a:visited {
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.uk-accordion-content {
  margin-bottom: 40px;
}

.credit {
  font-size: 9px;
  font-style: italic;
}

.uk-lightbox-toolbar {
  background: transparent !important;
  padding: 20px;
}

.uk-lightbox-caption {
  text-align: left !important;
  color: white;
  width: 250px;
  position: right;
}

.uk-navbar-container {
  background: #6c6054;
  color: #fff;
}

.uk-navbar-container a, .uk-navbar-container a:active, .uk-navbar-container a:visited {
  color: #fff;
  font-family: Georgia, 'Times New Roman';
  font-style: italic;
}

.colthumb {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 30px;
  text-align: center;
}

.colthumb img {
  height: 100%;
}

.uk-container {padding-bottom: 40px;}